<div class='intro'>
	This website is used to find movies in the Open Movie Database (OMDb).  The website 
	is powered by Node.js and uses the Express framework.<br><br>	
	You can continue as a <a href='/home'>Guest</a> or <a href='/login'>Login</a>.  
	New users can <a href='/signup'>create an account</a>.
</div>